[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "plugins/zencoding-vim"]
	path = plugins/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "plugins/tabular"]
	path = plugins/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "plugins/mango.vim"]
	path = plugins/mango.vim
	url = https://github.com/goatslacker/mango.vim.git
[submodule "plugins/vim-jsbeautify"]
	path = plugins/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "plugins/vim-jshint"]
	path = plugins/vim-jshint
	url = https://github.com/sleistner/vim-jshint.git
